/*--------------------------------------------------------------
                         responsive grid
--------------------------------------------------------------*/

.site {
	display: grid;
	grid-template-columns: 15rem repeat(3, 1fr);
	grid-template-rows: 12rem auto 12rem;
}

header {grid-column: 2/5;
grid-row: 1/2;
background-color: #523e33;
 }

.section1 { grid-column: 1/2;
grid-row: 1/2;
background-color: #523e33;}

nav {grid-column: 1/2;
grid-row: 2/3;
background-color: #523e33;}

.section2 {grid-column: 2/3;
grid-row: 2/3;
padding: 2rem 0 0 2rem;
}

.section3 {grid-column: 3/4;
grid-row: 2/3;
padding: 2rem 0 0 2rem;}

.section4 {grid-column: 4/5;
grid-row: 2/3;
padding: 2rem 0 0 2rem;}

footer {grid-column: 1/5;
grid-row: 3/4;
background-color: #94c840;}

	
/*--------------------------------------------------------------
                         whole page style
--------------------------------------------------------------*/
body { margin: 0;}

* {font-family:'Roboto', sans-serif;
color: #523e33;
line-height: 2.5rem;
text-decoration: none;
}
/*
color palette:
brown: 
#523e33

green:
#94c840
*/

/*--------------------------------------------------------------
            header - slogen and contact info
--------------------------------------------------------------*/
i {display: inline-block;}

address {font-size: 1.5rem;
line-height: 2rem;
color:#94c840;
padding-bottom: 1rem;}

/*--------------------------------------------------------------
             logo and search - left side above menu
--------------------------------------------------------------*/

.logo {
  width: 10em;
border-radius: 50%;
margin: 1rem;
}

/*--------------------------------------------------------------
                         left side nav menu
--------------------------------------------------------------*/

nav a {
font-size: 1.8rem;
display: block;
  color:#94c840;
 padding: 1rem; 
}

a:hover { 
    background-color: #94c840;
  color: #523e33;
}

.active {background-color: #94c840;
  color: #523e33;}
/*--------------------------------------------------------------
                            main content
--------------------------------------------------------------*/

h1 {
  font-size: 1.9rem;
  color:white;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.img { width: 240px;
  height: 240px;
  border-radius:60%;
}

section p {
line-height: 2rem;
text-align: left;
  font-size: 1.3rem;
}

h2, h3, h4 {
font-size: 1.7rem;
}

/*--------------------------------------------------------------
                           footer
--------------------------------------------------------------*/

footer {
  text-align: center;
  padding: 1.5rem;
}

footer a {padding: 0 0.3rem;}
.bold {font-weight: bold;}

article {font-size: 1.2rem;
    text-align: left;
}